@use "variables" as *;
@use "mixins" as *;

.section-wrapper {
    line-height: 0;
    padding: 2em 0 4em 0;
}

.all-new {
    color: #fff;
    position: relative;

    .all-new-img {
        width: 100%;
        height: auto;
    }
}

.sticky-text-span {
    background-color: #00000093;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;

    @include media($sm){
        display: none;
    }
}

// TEXT BOX MOVES TO THE RIGHT @ 502px

.sticky-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    gap: 1rem;
    position: absolute;
    top: 2rem;
    left: 1rem;
    z-index: 1000;

    a {
        @include linkStyle;
        background-color: #fff;
        color: #666666;
        width: 8em;
    }
    
    @include media($sm){
        background-color: #00000093;
        left: unset;
        top: 12%;
        right: 0;
        margin: 0;
        padding: 2.4em 2em;
    }

    @include media($lg){
        top: 25%;
        padding-right: 5rem;
    }
    
    h2 {
        padding: .5rem 0;
        font-size: 2rem;
        font-weight: 500;

        @include media($sm){
            line-height: 2px;
        }

        @include media($lg){
            font-size: 2.5rem
        }

        @include media($xlg){
            font-size: 4rem;
            line-height: 3rem;
        }
    }

    p {
        font-family: $titleFont;
        font-size: 1.25rem;
        margin-bottom: .5rem;
        
        @include media($lg){
            font-size: 1.75rem;
        }

        @include media($xlg){
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
        }
    }
}

