@use "colour" as *;
@use "typography" as *;

.best-sellers {
    margin: 1rem;
    font-family: $font;
}
h2, h3 {
    font-weight: 300;
}
h2 {
    font-size: 2.8rem;
}

.img-anchor-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 1.5rem 0;
}
img {
    max-width: 50vw;
}
a {
    background-color: $accentOrange;
    padding: .5rem .8rem .5rem .8rem;
    border-radius: .3rem;
    position: relative;
    top: -20px;
    font-weight: 600;
}