// Nav
$white: white; 
$hover-color: #343434;


// Video 
$playBtn: #EE8A34; 
$playShadow: #eab485; 

// Footer 
$back-top: #EE8A34;
$footer-color: #EBEBEB; 
$footer-link-color: #8F8F8F; 
$blackColor: #000000; 


