    @use "variables" as *;


    footer { 
        border-top: 1px solid $blackColor;
        font-family: $font;
        width: 100%;
        display: flex;
        padding: 2rem;
        background-color: $footer-color;
        div {
            margin: 0 auto;
            a{
                display: block;
                color: $footer-link-color;
                text-decoration: none;
                margin: 1rem 0 1rem 0;
            } 
        }
    }



    .disclaimer-paragraph { 
        color: $red;
    }
    // Media Queries

    @media (min-width: 20rem) { 
        footer { 
            display: block;
        }
        .disclaimer-paragraph { 
            width: 70%;
            margin: 0 auto;
            padding-top: 2rem;
        }
    }

    @media (min-width: 22rem){ 
        footer {
            overflow: hidden;
            .master-col { 
            display: block;
            .col-1, .col-3{
                float: left;
                width: 40%;
                text-align: center;
            } 
            .col-2, .col-4 {
                float: right ;
                width: 40%;
                text-align: center;
            } 
        }
    }
    }

    @media (min-width: 31.25rem) {
        footer { 
            .master-col { 
                display: flex;
                div {
                    width: 25%;
                }
            }
            .disclaimer-paragraph { 
                width: 80%;
                margin: 0 auto;

            }
        }
    }

    @media (min-width: 62.5rem) {
        footer {
            .disclaimer-paragraph { 
                width: 70%;
            }
        }
    }