@use "variables" as *;
@use "mixins" as *;
@use "colour" as *;
@use "typography";
@use "slick";
@use "slick-theme";

@media (max-width: 31.25em) {
    .news-wrap {
        display: flex;
        flex-direction: column;
    
        img {
            margin: 1rem;
        }
    }
}

.news-ref {
    margin: 0 auto;
    width: 100%;
}

.news-wrap {
    width: 85%;
    margin: 0 auto;
    

    img {
        margin: 0 auto;
        padding: 1rem 3rem;
    }

    slick-list {
        @extend .news-wrap;

    }
}



.slick-next {
    background: url(../images/next-arrow.png);
    color: coral;
    z-index: 100;
    width: 50px;
    height: 81px;
    
}

.slick-prev {
    background: url(../images/prev-arrow.png);
    color: coral;
    z-index: 100;
    width: 50px;
    height: 81px;
}



// Back to top 
.back-to-top { 
    color: $back-top;
}


// Bottom Icons 
@media (min-width: 20rem) {
    .left-side-icons, .right-side-icon { 
       margin-left: 2rem;
    }
}

@media (min-width: 37.5rem) {
    .left-side-icons { 
    float: left;
}
.right-side-icon { 
    float: right;
    // NEST A tag in white 
    
}
}

