@use "reset" as *; 
@use "variables" as *; 
@use "footer" as *; 
@use "nav"; 
@use "mixins";
@use "video";
@use "best-sellers";
@use "all-new";
@use "our-story";
@use "slick";
@use "slick-theme";
@use "hero-slider";
@use "shop-by";



//typography
h1, h2, h3 {
    font-family: $titleFont;
    padding-left: 1rem;
}

p, li {
    font-family: $font;
    line-height: 1.25rem;
}


// layout

.site-wrapper {
    padding: 1rem 0;
    margin: 0 auto;
}

// Media query for sitemap 

@media (min-width: 20rem){ 
  .sitemap {
    margin-top: 3rem;
  }
}

@media (min-width: 35.62rem ) {
  .sitemap {
    margin-top: 8rem;
  }
}

//in the news
@media (max-width: 31.25em) {
    .news-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        img {
            margin: 1rem;
            display: block;
        }
    }
}

.news-ref {
    margin: 1rem auto;
    width: 100%;
    display: block;
}

.news-ref h2 {
    margin: 0 auto;
    display: block;
    width: fit-content;
}

.news-wrap {
    width: 85%;
    margin: 0 auto;
    display: block;
    

    img {
        margin: 2rem auto;
        padding: 1rem 1rem;
    }

    slick-list {
        @extend .news-wrap;

    }
}



//slick arrows

.slick-next, .slick-prev{
    color: $coral;
    z-index: 100;
    width: 50px;
    height: 81px;
}

.slick-next {
    background: url(../images/next-arrow.png);
   
}

.slick-prev {
    background: url(../images/prev-arrow.png);
}



.right-side-icon { 
    position: relative;
    width: auto;
    span { 
        width: 50%;
        color: $blackColor;
        &:hover { 
            color: $playBtn;
        }
    }
}


    // Back to top 
    .back-to-top { 
        color: $back-top;
        font-family: $font;
    // Media query for top button 
       @media (min-width: 20rem){
        margin-left: 2rem;
       }
    }

    // Bottom Icons Media Queries 

    .sm-icons {
        white-space: nowrap;       
    }
    @media (min-width: 20rem) {
        .left-side-icons { 
        margin: 1rem 0 0 2rem;

        }
        .right-side-icon { 
            position: relative;
            width: 25%;
            margin-top: 1rem;
            img { 
                white-space: normal;
                margin-left:  2rem;
            }
            span { 
              font-family: $font;
                position: absolute;
                white-space: nowrap;
                padding: 1rem;
                width: 50%;
                left: 5rem;
                height: auto;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
            }
        }
    }

    @media (min-width: 35.62rem) {
        .left-side-icons { 
        float: left;
    }
    .right-side-icon {
        position: relative;
        float: right;
        width: 40%;
        span { 
            position: absolute;
            padding: 1rem;
            white-space: nowrap;
        } 
    }
    }

    @media (min-width: 48rem) { 
        .right-side-icon {
            position: relative;
            float: right;
            width: 35%;
            span { 
                position: absolute;
                padding: 1rem;
                white-space: nowrap;
            } 
        }
    }


    @media (min-width: 63.75rem) { 
        .right-side-icon {
            position: relative;
            float: right;
            width: 30%;
            span { 
                // position: absolute;
                // padding: 1rem;
                // white-space: nowrap;
                width: 30%;
            } 
        }
    }

    @media (min-width: 75rem) { 
        .right-side-icon {
            position: relative;
            float: right;
            width: 25%;
            // span { 
            //     position: absolute;
            //     padding: 1rem;
            //     white-space: nowrap;
            //     width: 30%;
            // } 
        }
    }

    @media (min-width: 87.5rem) { 
        .right-side-icon {
            position: relative;
            float: right;
            width: 20%;
            // span { 
            //     position: absolute;
            //     padding: 1rem;
            //     white-space: nowrap;
            //     width: 30%;
            // } 
        }
    }
