@use "mixins" as *;
@use "variables" as *;

// h2
.best-sellers, .shop-by, .news-ref {
    h2 {
        font-weight: 300;
        font-size: 3em;
    }
}

.best-sellers, .shop-by {
    @include media($small){
        h2 {
            text-align: center;
        }
    }
}

.shop-by {
    h2 {
        margin-bottom: 1em;
    }
}