@use "mixins" as *;
@use "variables" as *;

// LINK DECORATION OFF
a {
    text-decoration: none;
}

// ALL h2
.best-sellers, .shop-by, .news-ref {
    h2 {
        font-weight: 300;
        font-size: 3em;
    }
}

.best-sellers, .shop-by {
    @include media($small){
        h2 {
            text-align: center;
        }
    }
}

.shop-by {
    h2 {
        margin: 1rem;
    }
}

// VIDEO HEADING OVERLAY
.video-title {
    position: absolute;
    top: 12%;

        @media (min-width: 708px){
            top: 10%;
        }

    h2 {
        text-shadow: 2px 1px #fff;
        font-weight: 600;
        font-size: 2rem;

        @media (min-width: 454px){
                font-size: 2.3rem;
            }

        @media (min-width: 538px){
            font-size: 2.9rem;
        }

        @media (min-width: 708px){
            font-size: 3.8rem;
        }
    }
}
