@use "colour" as *; 
@use 'typography' as *; 

li {
	list-style: none;
}
header {
	background-color: $blackColor; 
}

.nav-logo {
	font-size: 2rem;
	min-width: 17rem;
}
.navbar {
	min-height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	font-family: $font;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
}
.nav-item {
	transition: 0.7s ease;
	padding: 1.2rem;
	a {
		color: $white;
		text-decoration: none;
	}
	&:hover {
		transition: 0.2s ease-in-out;
		background-color:  $hover-color;
	}
}

.hamburger {
	display: none;
	cursor: pointer;
}
.bar {
	display: block;
	width: 3rem;
	height: 0.3rem;
	margin: 0.6rem auto;
	transition: all 0.3s ease-in-out;
	background-color: $white;
}
@media (max-width: 64rem) {
	.hamburger {
		display: block;
	}
	.hamburger.active {
		.bar {
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(1) {
				transform: translateY(0.9rem) rotate(45deg);
			}
			&:nth-child(3) {
				transform: translateY(-0.9rem) rotate(-45deg);
			}
		}
	}
	.nav-menu {
		position: absolute;
		top: -50%; 
        left: 0;
		flex-direction: column;
		background-color: $blackColor;
		width: 100%;
		transition: 0.3s ease-in-out;
		z-index: 99;
	}
	.nav-item {
		padding: 1rem 0rem;
		margin-left: 1rem;
		font-size: 1.5rem;
		a{ 
			color: $white;
			text-decoration: none;
		}
	}
	.nav-menu.active {
		// height: 300px;
		padding: 1rem 0 1rem 0;
        top: 4rem;
		.nav-item {
		&:hover { 
			transition: 0.2s ease-in-out;
			background-color:  $hover-color;
		}
	}
        .nav-links { 
            text-align: left;
        }

	.nav-right-logos { 
		margin-left: 0.5rem;
		a { 
			padding: 0 0.3rem 0 0.3rem;
		}
	}
	}
}

@media (min-width: 64rem) { 

.nav-right-logos { 
	margin: 1.2rem;
	a { 
		padding: 1rem 0.3rem; 
	}
}
}