@use "mixins" as *;
@use "variables" as *;

.our-story {
    position: relative;
    text-align: center;
    color: $white;
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        height: auto;
    } 
}

.story-container {
    background-color: rgba(0, 0, 0, 0.517);
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // DESKTOP VIEW
    @include media(){
        background: none;
        margin: 0 auto;
    }
    // REGULAR VIEW
    h2 {
        line-height: 1;
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: .5rem;
    
    @media (min-width: 391px){
        font-size: 3em;
    }

    @include media(){
        font-size: 3.5em;
    }
    }
    
    p{
        font-family: $titleFont;
        line-height: 1.75rem;
        margin-bottom: 1.75rem;
        font-weight: 600;
        font-size: 1.2rem;
        width: 80%;

    @include media(){
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 1.5em;
        width: 60%;
    }
    }

    span {
        font-style: italic;
    }   
    
    a {
        background-color: $accentOrange;
        @include linkStyle; 
    }
}