$font: "/fonts/Roboto-Thin.ttf", sans-serif;
$italicFont: "/fonts/Roboto-ThinItalic.ttf";
$fontHeavy: "/fonts/Roboto-Medium.ttf";
$titleFont: "Source Sans Pro", sans-serif;

// Nav
$white: white; 
$hover-color: #343434;

// Main 
$coral: coral; 

// Hero Slider 
$transparent: transparent; 

// Video 
$playBtn: #EE8A34; 
$playShadow: #eab485; 
$popOutShadow: rgba(0, 0, 0, 0.5);
$videoBlueBorder: #71ABFB;

// Footer 
$back-top: #EE8A34;
$footer-color: #EBEBEB; 
$footer-link-color: #8F8F8F; 
$blackColor: #000000; 

// a href background colour
$accentOrange: #fc851e;

// // VIEWPORT SIZE 
$small: 460px; //breakpoint BEST SELLERS
$md: 750px; // breakpoint size used in OUR STORY
$sm: 502px; // .sticky-text breakpoint in ALL NEW
$lg: 818px; // text size breakpoint in ALL NEW
$xlg: 1050px; // bigger text breakpoint in ALL NEW