@use "colour" as *; 

li {
	list-style: none;
}
header {
	background-color: $blackColor;
}
h1 {
	// font-family: $font-family; 
	font-weight: lighter;
}
a {
	color: $white;
	text-decoration: none;
}
.nav-logo {
	font-size: 2rem;
	min-width: 17rem;
}
.navbar {
	min-height: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}
.nav-menu {
	display: flex;
	// padding-left: 2rem;
	justify-content: space-between;
	// gap: 2rem;
	font-size: 1.2rem;
}
.nav-item {
	transition: 0.7s ease;
	a {
		&:hover {
			// color: $secondary-blue;
			transition: 0.2s ease-in-out;
		}
	}
}
.nav-right-logos { 
    color: $white;
}
.hamburger {
	display: none;
	cursor: pointer;
}
.bar {
	display: block;
	width: 3rem;
	height: 0.3rem;
	margin: 0.6rem auto;
	transition: all 0.3s ease-in-out;
	background-color: $white;
}
@media (max-width: 64rem) {
	.hamburger {
		display: block;
	}
	.hamburger.active {
		.bar {
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(1) {
				transform: translateY(0.9rem) rotate(45deg);
			}
			&:nth-child(3) {
				transform: translateY(-0.9rem) rotate(-45deg);
			}
		}
	}
	.nav-menu {
		position: absolute;
		top: -100%; 
        left: 0;
		flex-direction: column;
		background-color: $blackColor;
        // height: 31.25rem;
		width: 100%;
		transition: 0.3s ease-in-out;
        z-index: 1;
	}
	.nav-item {
		padding: 1rem 0rem;
		font-size: 1.5rem;
	}
	.nav-menu.active {
		padding: 1rem 0 1rem 0;
        top: 6rem;
		.nav-item {
		&:hover { 
			transition: 0.2s ease-in-out;
			background-color:  $hover-color;
			
		}
	}
        // transform: translateY(31.25rem);
        .nav-links { 
            text-align: left;
        }
	}

}
