// Place your Sass imports here...
@use "reset" as *; 
@use "colour" as *; 
@use "footer" as *; 
@use "nav" as *; 
@use "typography" as *; 
@use "mixins" as *;
@use "video" as *;
@use "main" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  hr {
    background-color: #000000;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  footer {
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    display: flex;
    padding: 2rem;
    background-color: #EBEBEB;
  }
  footer div {
    margin: 0 auto;
  }
  footer div a {
    display: block;
    color: #8F8F8F;
    text-decoration: none;
    margin: 1rem 0 1rem 0;
  }
  
  @media (min-width: 20rem) {
    footer {
      display: block;
    }
  }
  @media (min-width: 22rem) {
    footer {
      overflow: hidden;
    }
    footer .master-col {
      display: block;
    }
    footer .master-col .col-1, footer .master-col .col-3 {
      float: left;
      width: 40%;
      text-align: center;
    }
    footer .master-col .col-2, footer .master-col .col-4 {
      float: right;
      width: 40%;
      text-align: center;
    }
  }
  @media (min-width: 31.25rem) {
    footer .master-col {
      display: flex;
    }
    footer .master-col div {
      width: 25%;
    }
  }
  li {
    list-style: none;
  }
  
  header {
    background-color: #000000;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .nav-logo {
    font-size: 2rem;
    min-width: 17rem;
  }
  
  .navbar {
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }
  
  .nav-item {
    transition: 0.7s ease;
    padding: 1.2rem;
  }
  .nav-item:hover {
    transition: 0.2s ease-in-out;
    background-color: #343434;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 3rem;
    height: 0.3rem;
    margin: 0.6rem auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
  
  @media (max-width: 64rem) {
    .hamburger {
      display: block;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(0.9rem) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-0.9rem) rotate(-45deg);
    }
  
    .nav-menu {
      position: absolute;
      top: -50%;
      left: 0;
      flex-direction: column;
      background-color: #000000;
      width: 100%;
      transition: 0.3s ease-in-out;
      z-index: 99;
    }
  
    .nav-item {
      padding: 1rem 0rem;
      margin-left: 1rem;
      font-size: 1.5rem;
    }
  
    .nav-menu.active {
      padding: 1rem 0 1rem 0;
      top: 4rem;
    }
    .nav-menu.active .nav-item:hover {
      transition: 0.2s ease-in-out;
      background-color: #343434;
    }
    .nav-menu.active .nav-links {
      text-align: left;
    }
    .nav-menu.active .nav-right-logos {
      margin-left: 0.5rem;
    }
    .nav-menu.active .nav-right-logos a {
      padding: 0 0.3rem 0 0.3rem;
    }
  }
  @media (min-width: 64rem) {
    .nav-right-logos {
      margin: 1.2rem;
    }
    .nav-right-logos a {
      padding: 1rem 0.3rem;
    }
  }

