@use "colour" as *; 



// .btn { 
//     position: relative; 
//     cursor: pointer;
//     .play-btn { 
//         position: relative;
//         width: 4.62rem;
//         height: 4.62rem;
//         background-color: $playBtn;
//         border-radius: 50%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         box-shadow: 0 1rem 4rem black;
//         transition: 0.5s;
//         left: 50%;
//         right: 50%;
//         top: 50%;
//         bottom: 50%;
//         &:active {
//             box-shadow: 0 0 0 150vh rgba(0, 0, 0, 0.4);
//         }
//         &::before {
//             content: "";
//             position: absolute;
//             border: 2rem solid white;
//             border-top: 1.2rem solid transparent;
//             border-bottom: 1.2rem solid transparent;
//             border-right: 0rem solid transparent;
//             transform: translateX(0.31rem);
//         }
//     }

// }

// .video-clip { 
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     width: 100%;
//     height: 100%;
//     transform: translate(-50%, -50%) scale(1); 
//     margin: 0 auto;
//     z-index: 99;
//     video { 
//         max-width: 80%;
//         height: auto;
//         display: block;
//         margin: 0 auto;
//         &:active { 
//             transform: translate(-50%, -50%) scale(1); 
//         }
//     }
// }

.video { 
    position: relative;
    .btn { 
        display: inline-block;
        position: relative;
        z-index: 1;
        cursor: pointer;
        .play-btn { 
            width: 60px;
            height: 60px;
            background-color: $playBtn;
            border-radius: 50%;
        }
    }
    .video-popup { 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 2;
        display: none;
        .video-container { 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 80%;
            max-height: 80%;
        video { 
            display: block;
            width: 100%;
            height: 100%;
  }
        }
        .close-btn { 
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            background-color: #000;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}